*,
*:before,
*:after {
	box-sizing: inherit;
}

html {	
  box-sizing: border-box;
  height: 100%;
}

body {
	margin: 0;
	padding: 0;
}

body > #root > .page {	
  background-color: #eee;
  height: 100vh;
	min-height: 100%;
	overflow: hidden;
}
